In [ ]:
import pandas as pd
df=pd.read_csv("/content/data.csv")
print(df.head())
print(df.shape)#tells the number of rows and columns
print(df.isnull())#which col is empty
print(df['a'])#to print specific variable
print(df['a'].isnull())#to check null values in specific file
print(df['a'].isnull().sum())#number of null values in specific variable
num_missing=(df[['a','b','c','d','e','f']]==0).sum()
print(num_missing)
from numpy import nan
r=df.replace(nan,0)#to replace nan by zero
df.dropna(inplace=True)#to drop entire row with missing value
print('after droping data set')#to print this label
print(df.shape)
missing_value_formats=["n.a","?","NA","n/a","na","--","-"]#to inputs different missing values
df= pd.read_csv("/content/data.csv", na_values=missing_value_formats)
df.fillna(df.mean(), inplace=True) #to put the mean of column in missing values
print('after inputing')
print(df.shape)

   a      b     c   d    e     f      g   h  i
0  6  148.0  72.0  35    0   NaN  0.627  50  1
1  1   85.0   NaN  29    0  26.6  0.351  31  0
2  8  183.0   NaN   0    0  23.3  0.672  32  1
3  1   89.0  66.0  23   94  28.1  0.167  21  0
4  0    NaN  40.0  35  168  43.1  2.288  33  1
(768, 9)
         a      b      c      d      e      f      g      h      i
0    False  False  False  False  False   True  False  False  False
1    False  False   True  False  False  False  False  False  False
2    False  False   True  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False  False
4    False   True  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
763  False  False  False  False  False  False  False  False  False
764  False  False  False  False  False  False  False  False  False
765  False  False  False  False  False  False  False  False  False
766  False  False  False  False  False  False  False  False  False
767  False  False  False  False  False  False  False  False  False

[768 rows x 9 columns]
0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: a, Length: 768, dtype: int64
0      False
1      False
2      False
3      False
4      False
       ...
763    False
764    False
765    False
766    False
767    False
Name: a, Length: 768, dtype: bool
0
a    111
b      5
c     35
d    227
e    374
f     11
dtype: int64
after droping data set
(760, 9)
after inputing
(768, 9)